.parent-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.children-container {
    width: 80%;
    justify-content: center;
    margin: 50px 0px;
}
.children-container.sidebar {
    width: 95%;
    justify-content: center;
    margin: 50px 0px;
}

@media screen and (max-width: 768px) {
    .parent-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .children-container {
        width: 80%;
        justify-content: center;
        margin-top: 25px;
    }
}

@media screen and (max-width: 540px) {
    .parent-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .children-container {
        width: 80%;
        justify-content: center;
        margin-top: 25px;
    }
}
