main{
  overflow: hidden;
}

.block {
  background-color: #0000ff;
  min-height: 500px;
  width: 100%;
  margin: 0;
}

p {
  text-align: justify;
  font-family: "Syne";
  letter-spacing: "0.1px";
  padding-left: 12;
}

.lastBlock{
  margin: 0 40px;
}

@media screen and (max-width: 991px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .lastBlock{
    margin: 0;
  }
  /* thead {
    display: none;
  }

  tr,
  td {
    display: block;
  }
  tr:not(:last-child) {
    border-bottom: 15px solid #0000ff;
  }
  th {
    text-align: right;
  }
  td {
    padding-left: 54%;
    position: relative;
    text-align: right;
    font-size: 16px;
  }

  td::before {
    position: absolute;
    padding: 5px;
    left: 0;
    bottom: 6px;
    width: 65%;
    content: attr(data-label);
    text-align: left;
    font-weight: bold;
    width: 30%;
  } */
}
