@media (max-width: 1000px) {
    .terms-condition {
        display: flex;
        justify-content: center;
    }
}

#cancel-button {
    color: #5044fd;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
#cancel-button:hover {
    color: white;
    background-color: #5044fd;
    border-radius: 5px;
    font-size: 16px;
}

.border-Right {
    border-right: 1px solid #c4c4c4;
}
@media (max-width: 576px) {
    .border-Right {
        border-right: none;
    }
   
}
