#about-us {
    background: #5044FD;
}

.h-text {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 80px;
}



/* .para {
  margin-right: 60px;
  margin-left: 50px;
  margin-bottom: 15px;
} */


.about-para img {
    height: 450px;
}