.view {
    height: auto;
    color: #171717;
    width: 100%;
}

.textHeading {
    font-style: normal;
    font-weight: bold;
    font-size: 15;
    color: white;

    text-align-last: center;
}
.homepage-content {
    font-size: 20px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.699);
    margin-left: 100px;
    margin-right: 100px;
}
.circle {
    width: 200px;
    height: 200px;
}

.text {
    font-size: 120%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.699);
    margin-left: 100px;
    margin-right: 100px;
}

/* .btn {
    background: #5044fd;
    border-color: #5044fd;
} */

.order-link {
    font-size: 15px;
    color: #5044fd;
    text-decoration: underline;
    font-weight: 500;
}
.order-link:hover {
    text-decoration: underline;
}
