.column-gap div {
  column-gap:30px;
}
.no-gap div {
    column-gap:0px;
}

#file-lable {
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #5044fd;
    font-size: 16px;
    padding:8px 16px 8px 16px;
    white-space: nowrap;
}

