.titleRegister {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #5044fd;
    padding-top: 70px;
}
.details {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    letter-spacing: 0.2px;
}

.signup {
    width: 100px;
    height: 40px;
    background: #5044fd;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 19px;
}
