#production-capabilities {
    background: #5044fd;
}

.card-container {
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
}

.img-caption {
    font-size: 12px;
    padding: 10px;
    white-space: pre-wrap;
}

#explore {
    background-color: #fff;
}

.right-border {
    border-right: 2px solid black;
}

.middle-line {
    border-right: 2px solid black;
}

@media (max-width: 768px) {
    .middle-line {
        border: none;
    }
}

.custom-margin {
    margin-left: 4.5rem;
}

.menu-item {
    user-select: none;
    cursor: pointer;
    border: none;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.items img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}


