.titlequote {
  
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #5044fd;
}

.labeltext{

font-style: normal;
font-weight: bold;
font-size: 16px;


}
.title{

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 32px;
}
