.footer-container {
    background-color: black;
    padding: 40px 0px;
    width: 100%;
    height: auto;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}

.footer-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-gap: 20px;
}

.footer-logo {
    width: 105px;
    height: 105px;
}

.footer-logo-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    font-size: 18px;
    line-height: 25px;
    color: #0000ff;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-link {
    color: #fff;
    margin-bottom: 5px;
    font-size: 14px;
    text-decoration: none;
}

.footer-link:hover {
    color: #0000ff;
    transition: 0.2s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.footer-horizontalline {
    border: 1px solid white;
    width: 100%;
    margin-bottom: 0;
}

.footer-copyright {
    color: white;
}

.footer-termspolicy {
    color: white;
    float: right;
}

.footer-termsandpolicy {
    color: white;
    text-decoration: underline;
}
.footer-termsandpolicy:hover {
    color: #0000ff;
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .footer-row {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 20px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0px;
    }
}
