.slick-dots li button:before {
    font-family: "slick";
    font-size: 10px;
    line-height: 10px;
    color: white;
    opacity: 0.3;
}

.slick-dots li.slick-active button:before {
    font-size: 10px;
    color: white;
}

.carousel {
    height: 600px;
}

@media screen and (max-width: 600px) {
    .carousel {
        height: 400px;
    }
}
