.main-container {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headingStyle {
    color: var(--white);
    margin-bottom: 100px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .headingStyle {
        text-align: center;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 1050px) {
    .headingStyle {
        text-align: center;
        font-size: 1.5rem;
    }
}
